<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= movie.picture %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= movie.ratings %>
  </p>

</div>
